body {
  background-image: url('http://25.media.tumblr.com/tumblr_m6np0cVIXV1rthmb0o1_500.gif');
}
header {
  margin: 10px auto;
}
#container {
  margin: 10px auto;
}
h1 {
  color: white;
  text-shadow: 3px 3px red;
}
