doctype html
html
  head
    meta(charset='utf-8')
    title Inception Boxes
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Inception Boxes - Drill0013
      input#textBox(type='text' placeholder='number of boxes' autofocus)
      button#addBoxes INCEPTION!
    #container





//CHYLD'S CODE
//#container
//  #seed

