doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 0001
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Drill 1
      img(src='http://2.media.collegehumor.cvcdn.com/96/27/2516c2d6df4faf212f944aeb90497866-cigar-smoking-tommy-gun-wielding-bear-riding-a-shark-is-probably-the-b.jpg')
    footer
      Copyright 2014 - Matthew Lummus
