doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 0003
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    #main
      header
        h1 Drill 3
        img(height='100px' width='100px' src='http://wallpaperscraft.com/image/blade_2_wesley_snipes_sword_vampire_blade_4070_256x256.jpg?orig=1')
      #controls
        input(type='text', placeholder='color', id='color')
        input(type='button', value='add color', id='addColor')
      #colors
      footer
        Copyright 2014 - Matthew Lummus
