doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 0002
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Drill 2
      img(src='http://l.yimg.com/bt/api/res/1.2/pF5AFg_5HD2XmqPDuaU6OA--/YXBwaWQ9eW5ld3M7cT04NTt3PTYyNQ--/http://l.yimg.com/os/251/2013/07/10/pacrim8-gif_202815.gif')
    #bacon
      - for(var i=0; i<100; i++)
        li=i
